In [1]:
import cuml
import cudf

In [2]:
train = cudf.read_feather("../features/Basic_train.ftr")

/home/karunru/.pyenv/versions/miniconda3-4.7.12/envs/rapids-0.16/lib/python3.7/site-packages/cudf/io/feather.py:16: UserWarning: Using CPU via PyArrow to read feather dataset, this may be GPU accelerated in the future
  "Using CPU via PyArrow to read feather dataset, this may "

In [3]:
train

,Name,Platform,Year_of_Release,Genre,Publisher,Critic_Score,Critic_Count,User_Score,User_Count,log_User_Count,Developer,Rating,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,5129,26,<NA>,1,553,74.0,17.0,7.900000095,22.0,3.135494232,1512,3,180,97,0,28,306
1,5140,26,<NA>,1,291,78.0,22.0,6.599999905,28.0,3.367295742,1512,3,151,61,0,21,234
2,5129,19,<NA>,1,553,73.0,5.0,7.400000095,10.0,2.397895336,1512,3,56,44,0,27,128
3,1577,0,<NA>,1,54,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,117,7,0,1,125
4,5138,26,<NA>,1,553,76.0,8.0,7.800000191,13.0,2.639057398,1512,3,69,42,0,12,124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8354,9212,13,2016.0,12,393,78.0,57.0,8.0,569.0,6.345636368,1095,<NA>,0,4,0,0,4
8355,10467,13,2016.0,12,276,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0,1,0,0,1
8356,1082,20,2017.0,1,234,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0,0,1,0,1
8357,7244,18,2017.0,8,449,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0,0,4,0,4
8358,7244,20,2017.0,8,449,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0,0,1,0,1

In [4]:
cat_cols = train.select_dtypes("category").columns.tolist()

In [5]:
cat_cols

['Name', 'Platform', 'Genre', 'Publisher', 'Developer']

In [6]:
encoder = cuml.preprocessing.TargetEncoder(smooth=0.4)

In [9]:
train_encoded = encoder.fit_transform(train[cat_cols[1]], train["Global_Sales"])

In [10]:
train_encoded

array([86.58191752, 88.50624508, 31.45916953, ..., 23.92669538,
       70.52201945, 22.08270203])